- if current_user.no_account?
  = link_to "Create new account", new_account_path, class: "btn btn-primary"
- else
  .btn-group.pull-left
    %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      = current_account&.organisation_name
    .dropdown-menu
      - accounts_without_current(10).each do |account|
        = link_to account.organisation_name, settings_update_current_account_path(id: account.id), class: "dropdown-item", method: :put
      .dropdown-divider
      = link_to "Create a New Account", new_account_path, class: "dropdown-item"
