.input-group
  %input.form-control.bg-light.border-0.small{"aria-describedby" => "basic-addon2", "aria-label" => "Search", :placeholder => "Search for...", :type => "text"}/
  .input-group-append
    %button.btn.btn-primary{:type => "button"}
      %i.fas.fa-search.fa-sm
