%h1.h3.mb-1.text-gray-800 Border Utilities
%p.mb-4
  Bootstrap's default utility classes can be found on the official
  %a{:href => "https://getbootstrap.com/docs"} Bootstrap Documentation
  page. The custom utilities below were created to extend this theme past the default utility classes built into Bootstrap's framework.
/ Content Row
.row
  / Border Left Utilities
  .col-lg-6
    .card.mb-4.py-3.border-left-primary
      .card-body
        \.border-left-primary
    .card.mb-4.py-3.border-left-success
      .card-body
        \.border-left-success
    .card.mb-4.py-3.border-left-info
      .card-body
        \.border-left-info
    .card.mb-4.py-3.border-left-warning
      .card-body
        \.border-left-warning
    .card.mb-4.py-3.border-left-danger
      .card-body
        \.border-left-danger
  / Border Bottom Utilities
  .col-lg-6
    .card.mb-4.py-3.border-bottom-primary
      .card-body
        \.border-bottom-primary
    .card.mb-4.py-3.border-bottom-success
      .card-body
        \.border-bottom-success
    .card.mb-4.py-3.border-bottom-info
      .card-body
        \.border-bottom-info
    .card.mb-4.py-3.border-bottom-warning
      .card-body
        \.border-bottom-warning
    .card.mb-4.py-3.border-bottom-danger
      .card-body
        \.border-bottom-danger
