.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %h5.modal-title Add Nation
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
    .modal-body
      = bootstrap_form_for @nation, url: accounts_add_nation_index_path(account_id: params[:account_id]) do |f|
        = f.text_field :slug
        = f.submit 'Add Nation', class: 'btn btn-primary btn-sm add-nation-submit'
