/ Logout Modal
#invite-user-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Invite User to Account
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = bootstrap_form_for @user_invite_form, url: accounts_invite_user_index_path do |f|
          = f.hidden_field :account_id
          = f.email_field :email
          = f.submit 'Send invite'
