.card.shadow.mb-4
  .card-header.py-3
    %span.m-0.font-weight-bold.text-primary Nations listing
    .account-listing-controls.float-right
      - if @account.owner?(current_user)
        = link_to_modal 'Add Nation', new_accounts_add_nation_path(account_id: params[:id]), class: 'btn btn-sm btn-primary add-nation'
  .card-body
    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Slug
        %tbody
          - nations.each do |nation|
            %tr
              %td= nation.slug
