.card.shadow.mb-4
  .card-header.py-3
    %span.m-0.font-weight-bold.text-primary Nations listing
    .float-right
      = link_to_modal '', new_accounts_nation_path(account_id: params[:id]), class: 'btn btn-sm btn-primary add-nation' do
        %i.fas.fa-plus.fa-sm.fa-fw.mr-2.text-gray-400
        Add Nation

  .card-body
    - if nations.any?
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
          %thead
            %tr
              %th Slug
              %th Actions
          %tbody
            - nations.each do |nation|
              %tr
                %td= nation.slug
                %td
                  = link_to connect_accounts_nation_path(id: nation.id), class: 'btn btn-sm btn-success connect-nation' do
                    %i.fas.fa-key
                    Connect
    - else
      %span No nations yet.
